*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.header {
  background-image: url("/images/bg/mainBg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

.header_logo .logo {
  display: block;
  width: 100%;
  max-width: 290px;
}

.header_nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 25px;
  color: #000000;
}

.header_nav-link:first-child {
  margin-left: 0;
}

.header_content {
  text-align: center;
  margin-top: 30px;
}

.header_content-participant {
  margin-bottom: 30px;
}

.header_content-participant span {
  padding: 10px 30px;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 20px;
  font-weight: 400;
}

.header_content-title {
  margin-bottom: 30px;
}

.header_content-title h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_content-city {
  margin-bottom: 30px;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.header_content-city span {
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  background-color: #008aff;
  color: #ffffff;
  font-size: 22px;
  line-height: 20px;
  font-weight: 400;
}

.header_content-decription {
  margin-bottom: 25px;
}

.header_content-decription p {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
}

.header_content-btn {
  width: 100%;
  max-width: 230px;
  height: 60px;
  margin: 0 auto;
  background-color: #d60505;
  border-radius: 10px;
  cursor: pointer;
}

.header_content-btn:hover {
  background-color: #ae0404;
}

.header_content-btn a {
  color: #ffffff;
  line-height: 60px;
  font-size: 16px;
}

.active_nav {
  color: red;
  font-weight: 700;
}

.burger_menu {
  display: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.burger_menu fas {
  font-size: 40px;
}

.terms_wrapper {
  margin-top: 100px;
  text-align: center;
}

.terms_wrapper-title {
  display: inline-block;
  margin-bottom: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, yellow));
  background: -webkit-linear-gradient(white 50%, yellow 50%);
  background: -o-linear-gradient(white 50%, yellow 50%);
  background: linear-gradient(white 50%, yellow 50%);
  padding: 0 15px;
}

.terms_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.terms_wrapper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.card {
  margin-right: 65px;
}

.card_diagram img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.card_title {
  margin-top: 35px;
  margin-bottom: 15px;
}

.card_title h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 2px;
}

.card_description p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.terms_request {
  margin-bottom: 80px;
}

.terms_request a {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
}

.goods {
  background-color: #008aff;
  min-height: 120vh;
  color: #ffffff;
}

.goods_wrapper {
  text-align: center;
}

.goods_wrapper-title {
  margin: 60px 0;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #32b228));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, #32b228 50%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, #32b228 50%);
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, #32b228 50%);
  padding: 0 15px;
}

.goods_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.goods_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.item_img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.item_title span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.goods_tagline {
  margin-top: 55px;
  text-align: center;
}

.goods_tagline span {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.goods_btn {
  width: 100%;
  max-width: 230px;
  height: 60px;
  margin: 45px auto 0;
  background-color: #d60505;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-bottom: 40px;
}

.goods_btn:hover {
  background-color: #ae0404;
}

.goods_btn a {
  color: #ffffff;
  line-height: 60px;
  font-size: 16px;
}

.partners {
  background-image: url("/images/partners/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.partners_wrapper {
  text-align: center;
  padding-top: 80px;
}

.partners_wrapper-title {
  display: inline-block;
  margin-bottom: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, white));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, white 50%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, white 50%);
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, white 50%);
  padding: 0 15px;
}

.partners_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.partners_wrapper p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.partners_wrapper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 80px 0 80px 0;
  cursor: pointer;
}

.partners_wrapper-items .partners_item img {
  margin-bottom: 25px;
}

.partners_wrapper-items .partners_item span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.partners_wrapper-items .partners_item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.partners_wrapper-items .partners_item:hover span {
  font-weight: 700;
}

.partners_wrapper-text {
  margin-bottom: 45px;
}

.partners_wrapper-text span {
  font-size: 26px;
  line-height: 29px;
  font-weight: 400;
}

.partners_btn {
  width: 100%;
  max-width: 230px;
  height: 60px;
  margin: 0 auto;
  background-color: #d60505;
  border-radius: 10px;
  cursor: pointer;
}

.partners_btn:hover {
  background-color: #ae0404;
}

.partners_btn a {
  color: #ffffff;
  line-height: 60px;
  font-size: 16px;
}

.features_wrapper {
  text-align: center;
}

.features_wrapper-title {
  display: inline-block;
  margin: 60px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, yellow));
  background: -webkit-linear-gradient(white 50%, yellow 50%);
  background: -o-linear-gradient(white 50%, yellow 50%);
  background: linear-gradient(white 50%, yellow 50%);
  padding: 0 15px;
}

.features_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.features_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 55px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features_block-item {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
}

.features_block-item img {
  display: block;
  margin: 25px auto;
}

.features_block-item span {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}

.features_block-item p {
  margin-top: 25px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.features_description {
  text-align: center;
  margin-bottom: 55px;
}

.features_description p {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.features_btn {
  max-width: 325px;
}

@media only screen and (max-width: 1050px) {
  .header_nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header_nav-link {
    font-size: 12px;
    line-height: 8px;
    margin-left: 15px;
  }
  .partners_wrapper {
    padding: 15px;
    padding-top: 60px;
  }
  .partners_wrapper-title {
    margin-bottom: 50px;
  }
  .partners_wrapper p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .partners_wrapper-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 70px 0 70px 0;
  }
  .partners_wrapper-items .partners_item img {
    margin-bottom: 25px;
  }
  .partners_wrapper-text {
    margin-bottom: 45px;
  }
  .partners_wrapper-text span {
    font-size: 26px;
    line-height: 29px;
  }
}

@media only screen and (max-width: 900px) {
  .header_logo {
    margin-right: 120px;
  }
  .burger_menu {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .burger_menu fas {
    font-size: 40px;
  }
  .header_nav {
    display: none;
    position: relative;
    z-index: 5;
  }
  .header_wrapper {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header {
    position: relative;
  }
  .adaptive_nav {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    background-color: rgba(242, 255, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  .header_nav-link {
    margin-top: 80px;
    font-size: 2em;
    display: block;
    text-align: center;
  }
  .header_nav-link:first-child {
    margin-top: 90px;
  }
  .terms_wrapper {
    margin-top: 70px;
    padding: 15px;
  }
  .terms_wrapper-title {
    margin-bottom: 60px;
  }
  .terms_wrapper-title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .terms_wrapper-items {
    padding-bottom: 40px;
  }
  .card {
    margin-right: 50px;
  }
  .card_description p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .terms_request {
    padding: 15px;
    margin-bottom: 60px;
  }
  .goods_wrapper {
    padding: 15px;
  }
  .goods_wrapper-title {
    margin: 45px 0;
  }
  .goods_items {
    padding: 15px;
    grid-gap: 15px;
  }
  .item_img {
    margin-bottom: 20px;
  }
  .goods_tagline {
    margin-top: 40px;
  }
  .goods_tagline span {
    font-size: 28px;
    line-height: 28px;
  }
  .goods_btn {
    margin: 35px auto 0;
  }
  .partners {
    min-height: 110vh;
  }
  .partners_wrapper {
    padding: 15px;
    padding-top: 60px;
  }
  .partners_wrapper-title {
    margin-bottom: 45px;
  }
  .partners_wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .partners_wrapper-items {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0 30px 0;
  }
  .partners_wrapper-items .partners_item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .partners_wrapper-items .partners_item img {
    display: block;
    margin-bottom: 20px;
  }
  .partners_wrapper-items .partners_item span {
    display: none;
  }
  .partners_wrapper-text {
    margin-bottom: 35px;
  }
  .partners_wrapper-text span {
    font-size: 24px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 771px) {
  .header_content {
    padding: 25px;
    margin-top: 25px;
  }
  .header_content-participant {
    margin-bottom: 25px;
  }
  .header_content-participant span {
    padding: 10px 35px;
    font-size: 22px;
    line-height: 18px;
  }
  .header_content-title {
    margin-bottom: 30px;
  }
  .header_content-title h1 {
    font-size: 3em;
  }
  .header_content-city {
    margin-bottom: 35px;
  }
  .header_content-city span {
    font-size: 22px;
    line-height: 18px;
  }
  .header_content-decription {
    margin-bottom: 30px;
  }
  .header_content-decription p {
    font-size: 14px;
    line-height: 14px;
  }
  .header_content-btn {
    width: 100%;
    max-width: 200px;
    height: 60px;
  }
  .header_content-btn a {
    line-height: 60px;
    font-size: 14px;
  }
  .terms_wrapper {
    margin-top: 70px;
    padding: 15px;
  }
  .terms_wrapper-title {
    margin-bottom: 50px;
  }
  .terms_wrapper-title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .terms_wrapper-items {
    padding-bottom: 40px;
  }
  .card {
    margin-right: 40px;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card_title {
    margin-top: 20px;
  }
  .card_title h3 {
    font-size: 19px;
    line-height: 20px;
  }
  .card_description p {
    font-size: 14px;
  }
  .terms_request {
    padding: 15px;
    margin-bottom: 40px;
  }
  .terms_request a {
    font-size: 14px;
  }
  .goods_wrapper-title {
    margin: 35px 0;
  }
  .goods_wrapper-title h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .item_img {
    margin-bottom: 20px;
  }
  .item_title span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  .goods_tagline {
    margin-top: 40px;
    text-align: center;
  }
  .goods_tagline span {
    font-size: 28px;
    line-height: 28px;
  }
  .goods_btn {
    margin: 35px auto 0;
    padding-bottom: 40px;
  }
  .goods_btn a {
    line-height: 60px;
    font-size: 16px;
  }
  .partners_wrapper {
    padding: 15px;
    padding-top: 60px;
  }
  .partners_wrapper-title {
    margin-bottom: 40px;
  }
  .partners_wrapper-title h2 {
    font-size: 28px;
  }
  .partners_wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .partners_wrapper-items {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0 30px 0;
  }
  .partners_wrapper-items .partners_item {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .partners_wrapper-items .partners_item img {
    display: block;
    margin-bottom: 20px;
  }
  .partners_wrapper-text {
    margin-bottom: 30px;
  }
  .partners_wrapper-text span {
    font-size: 24px;
    line-height: 22px;
  }
  .features_wrapper {
    padding: 15px;
  }
  .features_wrapper-title {
    margin: 30px 0;
  }
  .features_wrapper-title h2 {
    font-size: 32px;
    line-height: 43px;
  }
  .features_block {
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 680px) {
  .header_content-decription p {
    font-size: 12px;
  }
  .terms_wrapper {
    margin-top: 50px;
    padding: 35px;
  }
  .terms_wrapper-title {
    margin-bottom: 40px;
  }
  .terms_wrapper-title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .terms_wrapper-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .card {
    margin-right: 30px;
    margin-bottom: 35px;
  }
  .card_title {
    margin-top: 30px;
  }
  .card_title h3 {
    font-size: 19px;
    line-height: 20px;
  }
  .card_description p {
    font-size: 14px;
  }
  .terms_request {
    padding: 15px;
    margin-bottom: 40px;
  }
  .terms_request a {
    font-size: 14px;
  }
  .goods {
    min-height: 130vh;
  }
  .goods_items {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  .goods_wrapper-title {
    margin: 25px 0;
  }
  .goods_wrapper-title h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .item_img {
    margin-bottom: 15px;
  }
  .item_title span {
    font-size: 14px;
    line-height: 16px;
  }
  .goods_tagline {
    margin-top: 30px;
    text-align: center;
  }
  .goods_tagline span {
    font-size: 26px;
    line-height: 28px;
  }
  .goods_btn {
    margin: 30px auto 0px;
  }
  .goods_btn a {
    line-height: 60px;
    font-size: 16px;
  }
  .partners {
    background-image: none;
    background-color: #fff200;
    height: 100vh;
  }
  .partners_wrapper {
    padding-top: 35px;
  }
  .partners_wrapper-title {
    margin-bottom: 35px;
  }
  .partners_wrapper-title h2 {
    font-size: 26px;
  }
  .partners_wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .partners_wrapper-items {
    margin: 40px 0 30px 0;
  }
  .partners_wrapper-items .partners_item {
    margin-bottom: 15px;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .partners_wrapper-items .partners_item img {
    display: block;
    margin-bottom: 20px;
  }
  .partners_wrapper-text {
    margin-bottom: 30px;
  }
  .partners_wrapper-text span {
    font-size: 24px;
    line-height: 22px;
  }
  .features_wrapper-title {
    margin: 30px 0;
  }
  .features_wrapper-title h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .features_block {
    margin-bottom: 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .features_block-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 555px) {
  .header {
    height: 105vh;
  }
  .header_logo .logo {
    max-width: 220px;
  }
  .header_content-decription p {
    font-size: 12px;
  }
  .header_content-title {
    margin-bottom: 25px;
  }
  .header_content-title h1 {
    font-size: 45px;
  }
  -btn {
    margin-top: 40px;
  }
  .terms_wrapper {
    margin-top: 50px;
  }
  .terms_wrapper-title {
    margin-bottom: 30px;
  }
  .terms_wrapper-title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .terms_wrapper-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .card {
    margin-right: 30px;
  }
  .card_title {
    margin-top: 30px;
  }
  .card_title h3 {
    font-size: 18px;
  }
  .card_description p {
    font-size: 14px;
  }
  .terms_request {
    padding: 15px;
    margin-bottom: 35px;
  }
  .terms_request a {
    font-size: 14px;
  }
  .goods {
    min-height: 150vh;
  }
  .goods_items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  .goods_wrapper-title {
    margin: 25px 0;
  }
  .goods_wrapper-title h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .item_img {
    margin-bottom: 15px;
  }
  .item_name span {
    font-size: 14px;
  }
  .goods_tagline {
    margin-top: 25px;
    text-align: center;
  }
  .goods_tagline span {
    font-size: 22px;
    line-height: 22px;
  }
  .goods_btn {
    margin: 30px auto 0px;
  }
  .goods_btn a {
    line-height: 60px;
    font-size: 16px;
  }
  .partners {
    background-image: none;
    background-color: #fff200;
    height: 130vh;
  }
  .partners_wrapper {
    padding: 10px;
    padding-top: 30px;
  }
  .partners_wrapper-title {
    margin-bottom: 30px;
  }
  .partners_wrapper-title h2 {
    font-size: 24px;
  }
  .partners_wrapper p {
    font-size: 14px;
  }
  .partners_wrapper-items {
    padding: 15px;
    margin: 30px 0 25px 0;
  }
  .partners_wrapper-items .partners_item {
    margin-right: 20px;
  }
  .partners_wrapper-items .partners_item img {
    display: block;
    margin-bottom: 20px;
  }
  .partners_wrapper-text {
    display: none;
  }
  .partners_wrapper-text span {
    font-size: 22px;
  }
  .features_wrapper-title {
    margin: 30px 0;
  }
  .features_wrapper-title h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .features_block {
    margin-bottom: 40px;
  }
  .features_block-item img {
    margin: 20px auto;
  }
  .features_block-item span {
    font-size: 16px;
    line-height: 25px;
  }
  .features_block-item p {
    margin-top: 20px;
    font-size: 14px;
  }
  .features_description {
    padding: 15px;
    margin-bottom: 45px;
  }
  .features_description p {
    margin-bottom: 20px;
    font-size: 26px;
  }
}

@media only screen and (max-width: 488px) {
  .goods {
    min-height: 165vh;
  }
  .goods_items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .partners {
    min-height: 125vh;
  }
  .partners_wrapper {
    padding: 10px;
    padding-top: 25px;
  }
  .partners_wrapper-title {
    margin-bottom: 00px;
  }
  .partners_wrapper-title h2 {
    font-size: 22px;
  }
  .partners_wrapper p {
    display: none;
  }
  .partners_wrapper-items {
    margin: 25px 0 25px 0;
  }
  .partners_wrapper-items .partners_item {
    margin-right: 20px;
  }
  .partners_wrapper-items .partners_item img {
    display: block;
    margin-bottom: 20px;
  }
  .features_btn {
    max-width: 230px;
  }
  .features_wrapper-title {
    margin: 30px 0;
  }
  .features_wrapper-title h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .features_block {
    margin-bottom: 40px;
  }
  .features_block-item img {
    margin: 20px auto;
  }
  .features_block-item span {
    font-size: 16px;
    line-height: 25px;
  }
  .features_block-item p {
    margin-top: 20px;
    font-size: 14px;
  }
  .features_description {
    padding: 15px;
    margin-bottom: 45px;
  }
  .features_description p {
    margin-bottom: 20px;
    font-size: 26px;
  }
}

@media only screen and (max-width: 360px) {
  .header_content {
    margin-top: 20px;
  }
  .header_content-participant {
    margin-bottom: 25px;
  }
  .header_content-participant span {
    padding: 10px 30px;
    font-size: 18px;
    line-height: 12px;
  }
  .header_content-title {
    margin-bottom: 25px;
  }
  .header_content-title h1 {
    font-size: 40px;
  }
  .terms_wrapper {
    margin-top: 30px;
    padding: 15px;
  }
  .terms_wrapper-title {
    margin-bottom: 35px;
  }
  .terms_wrapper-title h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .goods {
    min-height: 220vh;
  }
  .goods_items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .goods_wrapper-title {
    margin: 25px 0;
  }
  .goods_wrapper-title h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .item_img {
    margin-bottom: 15px;
  }
  .item_name span {
    font-size: 14px;
  }
  .goods_tagline {
    margin-top: 25px;
    text-align: center;
  }
  .goods_tagline span {
    font-size: 22px;
    line-height: 22px;
  }
  .goods_btn {
    margin: 30px auto 0px;
  }
  .goods_btn a {
    line-height: 60px;
    font-size: 16px;
  }
  .partners {
    height: 115vh;
  }
  .partners_wrapper {
    padding: 10px;
    padding-top: 25px;
  }
  .partners_wrapper-title {
    margin-bottom: 25px;
  }
  .partners_wrapper-title h2 {
    font-size: 22px;
  }
  .partners_wrapper p {
    display: none;
  }
  .partners_wrapper-items {
    margin: 25px 0 25px 0;
  }
  .partners_wrapper-items .partners_item {
    margin-right: 20px;
  }
  .partners_wrapper-items .partners_item img {
    display: block;
    margin-bottom: 20px;
  }
  .features_wrapper-title {
    margin: 25px 0;
  }
  .features_wrapper-title h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .features_block {
    padding: 20px;
    margin-bottom: 30px;
  }
  .features_block-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .features_block-item img {
    margin: 20px auto;
  }
  .features_block-item span {
    font-size: 16px;
    line-height: 25px;
  }
  .features_block-item p {
    margin-top: 20px;
    font-size: 14px;
  }
  .features_description {
    margin-bottom: 40px;
  }
  .features_description p {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
