*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.header {
  background-image: url("/images/bg/mainBg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
}

.header_nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 25px;
  color: #000000;
}

.header_nav-link:first-child {
  margin-left: 0;
}

.header_content {
  text-align: center;
  margin-top: 70px;
}

.header_content-participant {
  margin-bottom: 35px;
  cursor: pointer;
}

.header_content-participant span {
  padding: 10px 35px;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.header_content-title {
  margin-bottom: 35px;
}

.header_content-title h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_content-city {
  margin-bottom: 35px;
  cursor: pointer;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.header_content-city span {
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  background-color: #008aff;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.header_content-decription {
  margin-bottom: 60px;
}

.header_content-decription p {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
}

.header_content-btn {
  width: 100%;
  max-width: 230px;
  height: 60px;
  margin: 0 auto;
  background-color: #d60505;
  border-radius: 10px;
  cursor: pointer;
}

.header_content-btn:hover {
  background-color: #ae0404;
}

.header_content-btn a {
  color: #ffffff;
  line-height: 60px;
  font-size: 16px;
}

.active_nav {
  color: red;
  font-weight: 700;
}

.burger_menu {
  display: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.burger_menu fas {
  font-size: 40px;
}

@media only screen and (max-width: 767px) {
  .burger_menu {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
  }
  .burger_menu fas {
    font-size: 40px;
  }
  .header_nav {
    display: none;
    position: relative;
    z-index: 5;
  }
  .header_wrapper {
    padding: 15px;
  }
  .header {
    position: relative;
  }
  .adaptive_nav {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    background-color: rgba(242, 255, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  .header_nav-link {
    margin-top: 10%;
    font-size: 2em;
    display: block;
    text-align: center;
  }
}

.terms_wrapper {
  margin-top: 100px;
  text-align: center;
}

.terms_wrapper-title {
  display: inline-block;
  margin-bottom: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, yellow));
  background: -webkit-linear-gradient(white 50%, yellow 50%);
  background: -o-linear-gradient(white 50%, yellow 50%);
  background: linear-gradient(white 50%, yellow 50%);
  padding: 0 15px;
}

.terms_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.terms_wrapper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.card {
  margin-right: 65px;
}

.card_title {
  margin-top: 35px;
  margin-bottom: 15px;
}

.card_title h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 2px;
}

.card_description p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.terms_request {
  margin-bottom: 80px;
}

.terms_request a {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: underline;
}

.goods {
  background-color: #008aff;
  min-height: 110vh;
  color: #ffffff;
}

.goods_wrapper {
  text-align: center;
}

.goods_wrapper-title {
  margin: 80px 0;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #32b228));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, #32b228 50%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, #32b228 50%);
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, #32b228 50%);
  padding: 0 15px;
}

.goods_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.goods_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 35px;
  text-align: center;
}

.item_img {
  margin-bottom: 20px;
}

.item_title span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.goods_tagline {
  margin-top: 65px;
  text-align: center;
}

.goods_tagline span {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.goods_btn {
  width: 100%;
  max-width: 230px;
  height: 60px;
  margin: 45px auto 0;
  background-color: #d60505;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding-bottom: 40px;
}

.goods_btn:hover {
  background-color: #ae0404;
}

.goods_btn a {
  color: #ffffff;
  line-height: 60px;
  font-size: 16px;
}

.partners {
  background-image: url("/images/partners/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.partners_wrapper {
  text-align: center;
  padding-top: 80px;
}

.partners_wrapper-title {
  display: inline-block;
  margin-bottom: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, white));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, white 50%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, white 50%);
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, white 50%);
  padding: 0 15px;
}

.partners_wrapper-title h2 {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  letter-spacing: 3px;
}

.partners_wrapper p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.partners_wrapper-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 80px 0 80px 0;
  cursor: pointer;
}

.partners_wrapper-items .partners_item img {
  margin-bottom: 25px;
}

.partners_wrapper-items .partners_item span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.partners_wrapper-items .partners_item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.partners_wrapper-items .partners_item:hover span {
  font-weight: 700;
}

.partners_wrapper-text {
  margin-bottom: 45px;
}

.partners_wrapper-text span {
  font-size: 26px;
  line-height: 29px;
  font-weight: 400;
}

.partners_btn {
  width: 100%;
  max-width: 230px;
  height: 60px;
  margin: 0 auto;
  background-color: #d60505;
  border-radius: 10px;
  cursor: pointer;
}

.partners_btn:hover {
  background-color: #ae0404;
}

.partners_btn a {
  color: #ffffff;
  line-height: 60px;
  font-size: 16px;
}
